.main {
  position: relative;
  padding: 20px;
}

.hero {
  background-image: linear-gradient(#016be5 0%, #05163d 100%);
  border-radius: 30px;
  overflow: hidden;
  opacity: 0.8;
}

.svg {
  height: calc(100vh - 118px - 40px);
  width: auto;
}

@media screen and (min-width: 1024px) {
  .hero{
    max-height: calc(100vh - 90px - 40px);
  }

  .svg {
    height: 100%;
    width: 120%;
    max-width: none;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1200px;
  margin: auto;
}